<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <h1 align='center'><font color='Blue' size='20'> <b>Tokenisation</b></font></h1>
  <h2 align='center'>Welcome!!</h2>
  <body background="brown.jpg">
  <section class="content">
      <div align='center'class="row">
          <form align='center'class="col-md-12" method="POST" action="question">
              <div  class="form-inline">
                <input name='pname' id='pname' class="form-control" type="text" placeholder="Enter Player Name">
                  <button type="submit" class="btn btn-info">Start Game</button>
              </div>
            </div>
          </form>
        </section>
      </body>
</html>
